


.main-header h1
{
		padding-top:70px;
		padding-bottom:70px;
		width: 100%;
		background-color: rgba(0,0,0,0.4);
    font-family: 'Press Start 2P', cursive;
    font-weight: 300;
    font-size: 1.4em;
    border: 2px solid #ccc;
    margin-top:100px;

}
.main-header
{
		position:relative;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align:center;
		color:#fff;
    font-family: 'Press Start 2P', cursive;
    font-style: italic;
    overflow: hidden;;
}

@keyframes spin{
	from{transform:rotate(0deg)}
	to{transform:rotate(360deg)}
}

.main-header-logo
{
		position:absolute;
		background-color:red;
		color:#fff;
		padding:10px;
		top:50px;
    font-kerning: 20;
}

.mason-eye-img
{
    position: absolute;
    width: 130px;
    top: 10px;
    &.mason-eye-img-left
    {
          left: 50px;
    }
    &.mason-eye-img-right
    {
        right: 50px;
    }
}

.mp-portfolio
{
    position: relative;
    background-color:#ccc;
    padding: 40px 0;
    background-color: #bf8dbd;
    color: green;
}

.mp-working-proccess
{
    padding: 40px 0;
    position: relative;

    background: #1e5799; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, #1e5799 0%, #f28282 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, #1e5799 0%,#f28282 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, #1e5799 0%,#f28282 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#f28282',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.mp-advantages
{
    padding: 40px 0;
    position: relative;

}
