.rot-1
{
  animation: 1s linear 0s normal none infinite running rot;
  -webkit-animation: 1s linear 0s normal none infinite running rot;
  width: 100px;
}

.rot-2
{
  animation: 2s linear 0s normal none infinite running rot;
  -webkit-animation: 2s linear 0s normal none infinite running rot;
  width: 100px;
}

@keyframes rot {
0% {
  transform: rotate(0deg);
}
100% {
  transform: rotate(360deg);
}
}
@-webkit-keyframes rot
{
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rot-left {
0% {
  transform: rotate(0deg);
}
100% {
  transform: rotate(-360deg);
}
}
@-webkit-keyframes rot
{
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
